<div class="tab-content" id="nav-tabContent"><!-- tab content-->
    <div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
        <div class="login-form-wrapper"><!-- login form wrapper start -->
            <form data-request="onSignin" 
                  data-request-validate>            
                <div class="form-element square login"><!-- form element login start -->
                    <label>Enter Email
                        <span>**</span>
                    </label>
                    <input 
                        type="email" 
                        name="login"  
                        id="userSigninLogin" 
                        placeholder="Type your email...." 
                        class="input-field-square">
                </div><!-- form element login end -->
                <div class="form-element square login"><!-- form element login start -->
                    <label>Password
                        <span>**</span>
                    </label>
                    <input 
                        name="password" 
                        type="password" 
                        id="userSigninPassword" 
                        placeholder="Type your email...." 
                        class="input-field-square">
                </div><!-- form element login end -->
                <button type="button" class="submit-form-btn">login</button>
            </form>
        </div><!-- login form wrapper end -->
    </div>
</div>