<div class="alert alert-danger" data-validate-error style="display:none">
    <p data-message></p>
</div>
{% if canRegister %}
<div class="tab-pane fade" id="nav-signup" role="tabpanel" aria-labelledby="nav-signup-tab">
    <div class="singup-form-wrapper">
        <form data-request="onRegister" 
              data-request-flash >            
            <div class="form-element square login">
                <label>First Name
                    <span>**</span>
                </label>
                <input type="text" placeholder="Type your name...." class="input-field-square">
            </div>
            <div class="form-element square login">
                <label>Last Name
                    <span>**</span>
                </label>
                <input type="text" placeholder="Type your name...." class="input-field-square">
            </div>
            <div class="form-element square login">
                <label>Enter Email
                    <span>**</span>
                </label>
                <input name="email" type="email" id="registerEmail" placeholder="Type your email...." class="input-field-square">
            </div>
            <div class="form-element square login">
                <label>Password
                    <span>**</span>
                </label>
                <input name="password" type="password" id="registerPassword" placeholder="Choose a password...." class="input-field-square">
            </div>
            <div class="form-element square login">
                <label>Confirm Password
                    <span>**</span>
                </label>
                <input type="password" name="password_confirmation" placeholder="Password Confirmation..." id="confirmPassword" placeholder="Type your email...." class="input-field-square">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked>
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                    I agree to the
                    <a href="#something">terms and conditions</a>.
                </label>
            </div>
            <input type="submit" class="submit-form-btn" value="submit for query">
        </form>
    </div>
</div>
{% else %}
    <!-- Registration is disabled. -->
{% endif %}
