<div class="tab-pane fade show active" id="nav-login" role="tabpanel" aria-labelledby="nav-login-tab">
    <div class="login-form-wrapper">
        <form data-request="onSignin" 
              data-request-validate
              data-request-flash>            
            <div class="form-element square login">
                <label>Enter Email
                    <span>**</span>
                </label>
                <input 
                    type="text" 
                    name="login"  
                    id="userSigninLogin" 
                    placeholder="Type your email...." 
                    class="input-field-square">
            </div>
            <div class="form-element square login">
                <label>Password
                    <span>**</span>
                </label>
                <input 
                    name="password" 
                    type="password" 
                    id="userSigninPassword" 
                    placeholder="Type your email...." 
                    class="input-field-square">
            </div>
            <button type="submit" class="submit-form-btn">Sign in</button>
        </form>
    </div>
</div>