==
<?php
function onInit()
{
    $this->fileUploader->bindModel('avatar',Auth::getUser());
}
?>
==
<div class="col-md-12">
    {{ form_ajax('onUpdate', { model: user }) }}
        <div class="box">
            <div class="box-header">
                <h4 class="card-title">Profile</small></h4>
            </div>
            <div class="box-body">
                <span id="accountDeactivateFooter" class="col-md-8">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="form-group">
                                <label class="bmd-label-floating">Email address</label>
                                <input name="email_text" type="email" class="form-control" id="accountEmail_text" value="{{ form_value('email') }}" disabled="">
                                <input name="email" type="hidden" class="form-control" id="accountEmail" value="{{ form_value('email') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="form-group">
                                <label class="bmd-label-floating">First Name</label>
                                 <input name="name" type="text" class="form-control" id="accountName" value="{{ form_value('name') }}">
                            </div>
                        
                            <div class="form-group">
                                <label class="bmd-label-floating">Last Name</label>
                                 <input name="surname" type="text" class="form-control" id="accountSurname" value="{{ form_value('surname') }}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <div class="form-group">
                                <label class="bmd-label-floating">Adress</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 ml-auto">
                            <div class="form-group">
                                <label class="bmd-label-floating">City</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Country</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                        <div class="col-md-3 mr-auto">
                            <div class="form-group">
                                <label class="bmd-label-floating">Postal Code</label>
                                <input type="text" class="form-control" >
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                    <a class="btn btn-danger"
                        href="javascript:;"
                        onclick="$('#accountDeactivateForm').toggle();$('#accountDeactivateFooter').toggle();">
                        Deactivate account
                    </a>
                </span>


                <span class="col-md-4 ml-auto mr-auto">
                    <div class="row">
                        <label class="bmd-label-floating">Avatar</label>
                       
                        {% component 'imageUploader' %}

                        
                    </div>                
                </span>
                <div id="accountDeactivateForm" style="display: none">
                    {{ form_ajax('onDeactivate') }}
                        <hr />
                        <h3>Deactivate your account?</h3>
                        <p>
                            Your account will be disabled and your details removed from the site.
                            You can reactivate your account any time by signing back in.
                        </p>
                        <div class="form-group">
                            <label for="accountDeletePassword">To continue, please enter your password:</label>
                            <input name="password" type="password" class="form-control" id="accountDeletePassword" />
                        </div>
                        <button type="submit" class="btn btn-danger">
                            Confirm Deactivate Account
                        </button>&nbsp;
                        <a
                            href="javascript:;"
                            onclick="$('#accountDeactivateForm').toggle();$('#accountDeactivateFooter').toggle();">
                            I changed my mind
                        </a>
                    {{ form_close() }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    {{ form_close() }}
</div>



