.ico-item {
	display: block;
	overflow: hidden;
	width:100%;
	background: white;
	text-align: center;
	border-radius: 5px 5px;
}

.ico-item img {
	-webkit-transform: translate3d(0,-5px,0);
	transform: translate3d(0,-5px,0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transition: opacity 0.35s, transform 0.35s;
	max-width: 128px;
}

.ico-item:hover img {
	opacity: 0.7;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}

.tag_name {
	font-family: 'Roboto', serif;	
	font-size  : 12px;
	font-weight: 700;
	letter-spacing: 0.05em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.rating {
	display: inline-block;
	
}

.company .content {
	margin-top: -10px;
	font-size: 15px;
	font-weight: 500px;
}

.company .content p {
	line-height: 21px;
	text-align: justify;

}
.company .content .title {
	line-height: 21px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	color: black;
}




