<div class="subscribe-line subscribe-line-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="title">Be The First To Know</h3>
                <p class="description">
                    Join our newsletter and get news in your inbox when new ICO will start. Don't miss your chance!
                </p>
            </div>
            <div class="col-md-6">
                <div class="card card-plain card-form-horizontal">
                    <div class="card-body ">
                        <form method="" action="">
                            <div class="row">
                                <div class="col-lg-8 col-md-6 ">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">mail</i>
                                            </span>
                                        </div>
                                        <input type="email" value="" placeholder="Your Email..." class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 ">
                                    <button type="button" class="btn btn-primary btn-round btn-block">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>