<div class="row">
    <div class="col-md-10 ml-auto mr-auto">
        <div class="featured">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-header-image" style="background-color: white;text-align: center;">
                            <img class="img" src="{{ 'assets/img/crederoom.jpg'| theme}}" style="max-width:128px;" />
                    </div>
                    <div class="nav-item text-center">
                    	<h4 class="card-title"><i class="material-icons">alarm</i><br>
                        2 DAYS LEFT</h4>

                    </div>
                </div>
                <div class="col-md-10">
                    <span class="badge badge-primary">Verified</span>
                    <span class="stars">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true" style="color:#bcbcbc"></i>
                    </span>                
                    <div class="rating">5.0</div >
                    <h3 class="card-title">
                        <a href="#pablo">Autodesk looks to future of 3D printing with Project Escher</a>
                    </h3>
                    <p class="card-description">
                        Like so many organizations these days, Autodesk is a company in transition. It was until recently a traditional boxed software company selling licenses. Today, it’s moving to a subscription model. Yet its own business model disruption is only part of the story — and…
                        <a href="#pablo"> Read More </a>
                    </p>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>