<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ this.page.meta_description }}">
  <meta name="title" content="{{ this.page.meta_title }}">
  <meta name="author" content="www.smart2be.com">
  <title>ICO Advice Guru - {{ this.page.title }}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="{{ [
                'assets/css/adminLTE/bootstrap.css',
                'assets/css/adminLTE/font-awesome.css',
                'assets/css/adminLTE/ionicons.css',
                'assets/css/adminLTE/bootstrap-datepicker.css',
                'assets/js/adminLTE/iCheck/all.css',
                'assets/css/adminLTE/AdminLTE.css', 
                'assets/css/adminLTE/skin-blue.css']| theme }}">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        {% partial 'admin/header' %}
        {% partial 'admin/sidebar' %}
        <div class="content-wrapper">
            {% page %}
        </div>        
        {% partial 'admin/footer' %}
    </div>

    <script src="{{ [
          'assets/js/adminLTE/jquery.js',
          'assets/js/adminLTE/bootstrap.js',
          'assets/js/adminLTE/bootstrap-datepicker.js',
          'assets/js/adminLTE/adminlte.js',
        ] | theme }}">
        
    </script>

    {% framework extras %}
    {% scripts %}
  
</body>
</html>