==
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="description" content="{{ this.page.meta_description }}">
    <meta name="title" content="{{ this.page.meta_title }}">
    <meta name="author" content="www.smart2be.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="../assets/img/kit/pro/apple-icon.png">
    <link rel="icon" href="../assets/img/kit/pro/favicon.png">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ 'assets/css/material-kit.min.css?v=2.0.2'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/custom.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/flipclock.css'| theme }}">

    <title>ICO Advice Guru - {{ this.page.title }}
    </title>
    
</head>
    {% if this.page.id != 'home' %}
        <body class="{{ this.page.title }}-page">
    {% endif %}
    {% if this.page.id == 'home' %}
        <body class="index-page">
    {% endif %}
            <!-- Header -->
            {% partial 'site/header' %}
            <!-- Content -->

            {% page %}
            
            {% if this.page.title == 'home' %}
                {% partial 'site/subscribe' %}
            {% endif %}

            <!-- Footer -->
            <footer class="footer footer-black">
                {% partial 'site/footer' %}
            </footer>

            <!-- Scripts -->
            <script src="{{ 'assets/vendor/jquery.js'| theme }}"></script>
            <script src="{{ 'assets/js/core/popper.min.js' |theme}}"></script>
            <script src="{{ 'assets/js/bootstrap-material-design.min.js'| theme}}"></script>
            <script src="{{ '/assets/js/plugins/moment.min.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/bootstrap-datetimepicker.min.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/nouislider.min.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/bootstrap-selectpicker.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/bootstrap-tagsinput.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/jasny-bootstrap.min.js'| theme}}"></script>
            <script src="{{'assets/js/plugins/jquery.flexisel.js'| theme}}"></script>
            <script src="{{'assets/js/material-kit.min.js?v=2.0.2'| theme}}"></script>
            {% framework extras %}
            {% scripts %}
            <script>
                var clock;
                $(document).ready(function() {

        

                    clock1 = $('.clock1').FlipClock({
                    clockFace: 'DailyCounter',
                    autoStart: false,
                    callbacks: {
                        stop: function() {
                            $('.message').html('The clock has stopped!')
                        }
                    }

                    });
                        
                    clock1.setTime(220880);
                    clock1.setCountdown(true);
                    clock1.start();

                clock2 = $('.clock2').FlipClock({
                    clockFace: 'DailyCounter',
                    autoStart: false,
                    callbacks: {
                        stop: function() {
                            $('.message').html('The clock has stopped!')
                        }
                    }
                });
                clock2.setTime(220880);
                    clock2.setCountdown(true);
                    clock2.start();
                });
            </script>
</body>
</html>