<!-- explore ico listing area start -->
<section class="explore-ico-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="left-content"> <!-- left conetent start-->
                    <a href="https://www.youtube.com/watch?v=dE5j709dm_g" class="video-play-btn mfp-iframe"><i class="fas fa-play    "></i></a>
                    <h3>Explore The Best <br/> ICO Listing Platforms</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                    here, content here.</p>
                    <a href="#" class="link-text">Available now</a>
                    <div class="img-btn-wrapper"> <!-- img btn wrapper start-->
                        <a class="img-btn" href="#"><img src="{{'assets/img/btn/01.png' | theme }}" alt="btn image google play store"></a>
                        <a class="img-btn" href="#"><img src="{{'assets/img/btn/02.png' | theme }}" alt="btn image apple app store"></a>
                    </div><!-- img btn wrapper end-->
                </div><!-- left conetent end-->
            </div>
        </div><!-- /.row -->
        <div class="right-image wow slideInUp"><!-- right conetent image start-->
            <img src="{{'assets/img/explore-right-image.png' | theme }}" alt="explore right image">
        </div><!-- right conetent image end-->
    </div> <!-- /.container -->
</section>
<!-- explore ico listing area end -->