
<header class="header-area header-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="single-header-item"><!-- search header start -->
                    <span class="subtitle wow fadeInDown">Your Premium Listing of Crypto ICO, Token Sales and ICO Scores</span>
                    <h1 class="wow fadeInDown">Crypto Token Sale and ICO List</h1>
                </div>
            </div>
        </div> 
    </div> 
</header>
