<tr class="traending_ico_tr">
                                <td data-label="coin_name" class="coin_name">
                                    <div class="trending-coin-box">
                                        <!-- tending coin box start-->
                                        <div class="icon">
                                            <img src="{{'assets/img/coin-icon/01.png' | theme }}" alt="coin icon">
                                        </div>
                                        <div class="content">
                                            <!-- content start-->
                                            <ul class="rating">
                                                <!-- rating start-->
                                                <li>
                                                    <a href="#">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                    <a href="#">
                                                        <i class="fas fa-star"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- rating end-->
                                            <h4>Tokenizer</h4>
                                        </div>
                                        <!--content end-->
                                    </div>
                                    <!-- tending coin box end-->
                                </td>
                                <td data-label="ratings" class="ratings_td">
                                    <div class="ratings-column">
                                        <!-- ratings column start -->
                                        <span class="ratings-number">4.0</span>
                                        <span class="rate">Rate</span>
                                    </div>
                                    <!-- ratings column end -->
                                </td>
                                <td data-label="start_price">
                                    <span class="start-price">$0.021</span>
                                </td>
                                <td data-label="founding_target">
                                    <span class="founding-target">$11,300,000</span>
                                </td>
                                <td data-label="ico_date">
                                    <span class="ico-date">14the auguest 2018</span>
                                </td>
                                <td data-label="action">
                                    <a href="#" class="action-btn">Website</a>
                                </td>
                            
                            </tr>
                            <tr>
                                <td colspan="6" class="tr-separator">
                                    <span></span>
                                </td>
                            </tr>