[listItems]
==

<section class="trending-coin-offering-area"> 
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="section-title">
                    <h2>Live Token Sales &amp; ICO</h2>
                    <p></p>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12 remove-col-padding-mobile">
                <div class="token-sale-top-bar"> 
                   <div class="row">
                       <div class="col-lg-6 col-sm-3 remove-col-padding-mobile">
                            <div class="left-content">
                               
                            </div>
                       </div>
                       <div class="col-lg-6 col-sm-9 remove-col-padding-mobile">
                            <div class="right-content">
                                <div class="tab-navbar">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#active_live_tab">Active</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#upcoming_live_tab">upcoming</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        <br>
        {% component 'listItems' %}           

    </div>
</section>

