<section class="subscribe-area subscribe-bg">
    <div class="conteainer">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <form 
                    action="https://guru.us9.list-manage.com/subscribe/post?u=18eab8593c9fb4710da5c2b02&amp;id=d57db60f5a" 
                    method="post" 
                    id="mc-embedded-subscribe-form" 
                    name="mc-embedded-subscribe-form" 
                    class="w-full flex-w flex-c-m validate-form" 
                    target="_blank" 
                    novalidate>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>   
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_18eab8593c9fb4710da5c2b02_d57db60f5a" tabindex="-1" value="">
                    </div>
                    <div class="subscribe-wrapper">
                        <h3 class="wow fadeInDown">Subscribe For More Updates</h3>
                        <p class="wow fadeInDown">Subscribe for Latest News and Updates About Crypto World, Crypto Community New Token Sales and ICO Campaigns</p>
                        <div class="subscribe-form wow fadeInUp">
                            <input  id="mce-EMAIL" type="email" name="EMAIL" class="subs-input" placeholder="Enter your email address">
                            <button name="subscribe"  type="submit" class="submit-btn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>










