<section class="subscribe-area subscribe-bg">
    <div class="conteainer">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <div class="subscribe-wrapper">
                    <h3 class="wow fadeInDown">Subscribe For More Updates</h3>
                    <p class="wow fadeInDown">Subscribe for Latest News and Updates About Crypto World, Crypto Community New Token Sales and ICO Campaigns</p>
                    <div class="subscribe-form wow fadeInUp">
                        <form action="">
                            <input type="email" class="subs-input" placeholder="Enter your email address">
                            <button type="submit" class="submit-btn"> submit </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
