<!-- testimonial area start -->
<section class="testimonial-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
                    <!-- section title start -->
                    <h2>Clients Testimonials</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
                        at its layout.
                    </p>
                </div>
                <!-- section title end -->
            </div>
        </div>
        <!-- ./row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="testimonial-wrapper" id="testimonial-carousel"><!-- testimonial wrapper start -->
                    <div class="single-testimonial-item"><!-- single testimonial item start -->
                        <div class="thumb"> <!--thumb start-->
                            <img src="{{ 'assets/img/testimonial/01.jpg' | theme }}" alt="tesimonial image">
                        </div><!--thumb end-->
                        <div class="content"><!--content start-->
                            <h5 class="name">William Hannah</h5>
                            <span class="post">founder, themes llc.</span>
                            <p class="descripton">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            The point of using Lorem Ipsum is that it has a more.</p>
                        </div><!--content end-->
                    </div><!-- single testimonial item end -->
                    <div class="single-testimonial-item"><!-- single testimonial item start -->
                        <div class="thumb"> <!--thumb start-->
                            <img src="{{ 'assets/img/testimonial/02.jpg' | theme }}" alt="tesimonial image">
                        </div><!--thumb end-->
                        <div class="content"><!--content start-->
                            <h5 class="name">Remitence Khanna</h5>
                            <span class="post">Fonder, Zigzag co.</span>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            The point of using Lorem Ipsum is that it has a more.</p>
                        </div><!--content end-->
                    </div><!-- single testimonial item end -->
                    <div class="single-testimonial-item"><!-- single testimonial item start -->
                        <div class="thumb"> <!--thumb start-->
                            <img src="{{ 'assets/img/testimonial/03.jpg' | theme }}" alt="tesimonial image">
                        </div><!--thumb end-->
                        <div class="content"><!--content start-->
                            <h5 class="name">Yankke Dosa</h5>
                            <span class="post">founder, bingo llc.</span>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            The point of using Lorem Ipsum is that it has a more.</p>
                        </div><!--content end-->
                    </div><!-- single testimonial item end -->
                    <div class="single-testimonial-item"><!-- single testimonial item start -->
                        <div class="thumb"> <!--thumb start-->
                            <img src="{{'assets/img/testimonial/01.jpg'|theme }}" alt="tesimonial image">
                        </div><!--thumb end-->
                        <div class="content"><!--content start-->
                            <h5 class="name">William Hannah</h5>
                            <span class="post">founder, themes llc.</span>
                            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            The point of using Lorem Ipsum is that it has a more.</p>
                        </div><!--content end-->
                    </div><!-- single testimonial item end -->
                </div><!-- testimonial wrapper end -->
            </div>
        </div><!-- / .row-->
    </div><!-- ./ container  -->
</section>
<!-- testimonial area end -->